
.buttonStyle {
    background: #0077ff;
    width: 15vw;
    min-height: 25px;
    color: #ffffff;
    display: flex;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  
  .buttonText {
    margin-right: 10px;
  }