html {
  box-sizing: border-box;
  font-weight: 16;
}

* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

body {
  /* background: #121212; */
  background-image: linear-gradient(to right, #10062b, black);
  color: #fff;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}
